#af_actionsheet {
    position:absolute;
    left:0px;
    right:0px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    margin:auto;
    background:black;
    float:left;
    z-index:9999;
    border-top:#fff 1px solid;
    background:rgba(71,71,71,.95);
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.4)), to(rgba(255,255,255,0)), color-stop(.08,rgba(255,255,255,.1)), color-stop(.08,rgba(255,255,255,0)));
    background-image:-webkit-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(255,255,255,.1) 8%, rgba(255,255,255,0) 8%);
    box-shadow:0px -1px 2px rgba(0,0,0,.4);
}
#af_actionsheet a {
    text-decoration:none;
    -webkit-transition:all 0.4s ease; 
    transition:all 0.4s ease; 
     text-shadow:0px -1px rgba(0,0,0,.8);
    padding:0px .25em;
    border:1px solid rgba(0,0,0,.8);
    text-overflow:ellipsis; 
    -webkit-border-radius:.75em; border-radius:.75em;
    border-radius:.75em; border-radius:.75em;
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.4)), to(rgba(255,255,255,0)), color-stop(.5,rgba(255,255,255,.1)), color-stop(.5,rgba(255,255,255,0)));
    background-image:-webkit-linear-gradient(top, rgba(255,255,255,.5) 0%, rgba(255,255,255,.2) 50%, rgba(255,255,255,0) 50%);
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.7); box-shadow:0px 1px 1px rgba(255,255,255,0.7);
    display:block;
    color:white;
    text-align:center;
    line-height:36px;
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
    background-color:rgba(130,130,130,1);
}

#af_actionsheet a.selected {
    background-color:rgba(150,150,150,1);
}

#af_actionsheet a.cancel {
 background-color:rgba(43,43,43,1);
}

#af_actionsheet a.cancel.selected {
    background-color:rgba(73,73,73,1);
}
#af_actionsheet a.red {
     color:white;
     background-color:rgba(204,0,0,1);
}

#af_actionsheet a.red.selected {
     background-color:rgba(255,0,0,1); 
}