
/* START DEFAULT LIST STYLES FROM OLD JQUI CSS*/
/* A touchable, interactive list item. */
/**********************************************************
	UL > LI 
**********************************************************/
/* The unordered list/list item classes are the basis of the secondary navigation used in JQ.Mobi: the stacked, listed menu system. */

ul {
	margin:0px; 
	padding:0px;
}
 
ul > li {
	
	display:block;
	width:100%; height:48px;
	list-style:none;
	background:#39424b;
} /* A plain, non-interactive list item--best suited to a heading. */

ul > li > a {
	display:block;
	width:100%; height:48px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:18px;
	line-height:48px;
	text-decoration:none;
	border-bottom:1px solid black;
	color:#fff;
	padding-left:8px;
	padding-right:-80px;
} /* A touchable, interactive list item. */

ul > li > a:after {
	content:">";
	position:absolute;
	right:15px;
}

 ul > li > a[selected], ul > li > a:active {
	color:#fff !important;

} /* A selected and active states for interactive list items. */

ul > li.group {
	position:relative;
	top:-1px;
	margin-bottom:-2px;
	border-top:1px solid #7d7d7d;
	border-bottom:1px solid #999999;
	padding:1px 10px;
	background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.09, rgb(125,125,125)), color-stop(0.49, rgb(153,153,153)), color-stop(0.81, rgb(153,153,153)));
	font-size:17px;
	font-weight:bold;
	text-shadow:rgba(0, 0, 0, 0.4) 0px 1px 0px;
	color:#fff;
}

ul > li.group:first-child {
	top:0;
}

h2 {
	display:block;
	width:100%; height:34px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:18px;
	line-height:34px; 
	padding: 0px 8px 0px 8px;
	color:#fff;
	text-shadow:rgba(0,0,0,.9) 0px -1px 1px;
	background:#39424b;
} /* Header class used for non-navigable header bars (h1 is reserved for the header) */


.collapsed:after {float:right;content:'';border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 6px solid #fff;display:block;position:absolute;top:16px;right:13px;}
.collapsed:before {float:right;content:'';color:transparent;background:transparent;width:14px;height:14px; display:block;border:2px solid white;border-radius:3px;position:absolute;top:9px;right:9px;}
.expanded:after {float:right;content:'';border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 6px solid #fff;display:block;position:absolute;top:14px;right:13px;}
.expanded:before {float:right;content:'';color:transparent;background:transparent;width:14px;height:14px; display:block;border:2px solid white;border-radius:3px;position:absolute;top:9px;right:9px;}

/* END DEFAULT LIST STYLES FROM OLD JQUI CSS*/

/* START DEFAULT NAVBAR STYLES FROM OLD JQUI CSS */

/**********************************************************
	TOOL BAR
**********************************************************/
/* Tool bar appears locked to the bottom of the screen. It is the primary navigation. can contain text or graphical navigation */
#navbar {
	position:absolute;
	bottom:0px;
	z-index:1000;
	text-align:center;
	left:0px;right:0px;
	height:62px; 
	padding:0px 1px;
	 background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(16,25,33,1)), to(rgba(14,23,32,1)), color-stop(.5, rgba(27,36,46,1)), color-stop(.5, rgba(14,23,32,1)));
	-webkit-box-shadow:0px 0px 24px rgba(0,0,0,0.8); box-shadow:0px 0px 24px rgba(0,0,0,0.8);
}

#navbar a {
	height:60px;
	overflow:hidden;
	display:inline-block;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
	color:#a7a7a7;
	text-align:center;
	text-shadow:rgba(10,12,20,.9) 0px -1px 1px;
	margin: 0px auto;
	width:62px;
	line-height:100px;
	position:relative;
}

#navbar a:active, #navbar a:focus, #navbar a:active:focus,  #navbar .selected{
	display:inline-block;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:bold;
	color:#fff !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#000), to(#000), color-stop(.5,#000), color-stop(.5,rgba(15,22,29,1)));
}


/* CUSTOM NAVBAR */

#navbar a:not(:last-of-type) {
    border-right:1px solid rgba(80,80,80,.5);
}

#navbar .icon:before {
line-height:62px;
text-align:center;
position:absolute;
top:-10px;
left:10px;
font-size:48px;
}

/* END DEFAULT NAVBAR STYLES FROM OLD JQUI CSS */

/* START DEAFULT BUTTON STYLES FROM OLD JQUI CSS */
/**********************************************************
	BUTTON STYLES
**********************************************************/
#backButton {
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	max-width:50px;
	text-overflow:ellipsis;
} /* Sets up positioning of the back button which appears in the header */

#backButton > div {
	max-width:50px;
	overflow:hidden;
	text-overflow:ellipsis;
} /* sets up sizing and handling of excess text for the type in the back button */

.button {
    z-index:1;
	color:#333;
	cursor:pointer;
	display:inline-block;
	font-weight:bold;
	font-size:14px;
	line-height:36px;
	position:relative;
	text-decoration:none;
	text-align:center;
	text-shadow:#fff 0 1px 0;
	height:36px; min-width:40px;
	padding:0px 8px;
	margin-top:6px; margin-left:6px; 
	text-overflow:ellipsis; 
	-webkit-border-radius:6px; border-radius:6px;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#999), color-stop(.5,#fff), color-stop(.5,#ccc)); background-image:linear-gradient(left top, left bottom, from(#fff), to(#999), color-stop(.5,#fff), color-stop(.5,#ccc));
	background:#ccc;
} /* Styling for CSS-generated buttons, including the back button. These buttons can bue used anywhere in the UI. */

.button.pressed {
	-color:#fff;
	-text-shadow:#2e4987 0 1px 0;
	-background-color:#5884d6;
	-border-color:#7488b8;
	-background-image:-webkit-gradient(linear,left top,left bottom, color-stop(0.01, #eee), color-stop(0.05, #709de7), color-stop(0.70, #5884d6), color-stop(1, #4470ca));
} /* behavior of button for touch interaction */

.modalbutton {
	position:absolute;
	top:0px;
	right:5px;
	height:32px;
	width:58px;
	line-height:32px;
	z-index:9999;
}

.closebutton  {
position:absolute;
top:6px; right:6px;
display:block;
height:24px !important; width:24px !important;
border-radius:12px;
border:1px solid #666;
background:#fff;
color:#333;
font:bold 21px/18px 'Arial Black', Arial Black, Gadget, Arial, Helvetica, sans-serif;
text-align:center;
text-decoration:none;
}
.closebutton:before { content:'x'; }
.closebutton.selected,.closebutton.modalButton.selected {
color:#fff;
background:#333; 
}

/* END DEFAULT BUTTON STYLES FROM OLD JQUI CSS */

body {
	font:normal 16px/18px Helvetica, Arial, sans-serif;
	color:#36251B; /*this determines color of icons*/
	background:#9EA172; /* primary background color */
}

p {
	color:#36251B;
	-webkit-box-shadow:none; 
	box-shadow:none; /* Applies an inner shadow to the text area */
} /* Paragraph class used for text areas. */

/* Determines height of header. */
#content {
	top: 57px;
	bottom:62px;
}

#afui_modal{
	background:#9EA172 !important;
}

.horzRule {
	background-image:-webkit-gradient(linear, left top, right top, from(#E6E2B5), to(#E6E2B5), color-stop(.3,#999), color-stop(.7,#999));
} /* Horizontal line. */

.jqmScrollbar { background:#E6E2B5 !important; } /* Sets the color of the scrollbar */

#afui > #splashscreen {
	background:#9EA172 !important;
	color:#E6E2B5 !important;
}

#afui > #header {
	background-color:#9EA172;
	background-image: none;
	height: 57px;
	webkit-box-shadow:none; 
	box-shadow:none;
	border: none;
} /* This is masthead bar that appears at the top of the UI */

#header h1 {
	text-shadow:rgba(54,37,27,.5) 0px -1px 0px 1px;
	color:#002649;
	font-size:18px;
	font-weight:bold;
	height: 48px;
	margin-top:13px;
	padding: 7px;
	text-shadow: none;
	-background-color:#3e7f00;
	-background: rgba(218, 221, 80, .2);
	-background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(218, 221, 80, .2)), to(rgba(218, 221, 80, .2)));
	-background-image:-webkit-gradient(linear, left top, left bottom, from(#798E19), to(#424D00));
} /* This is text that appears in the header at the top of the screen */

#header > h1 > img {
	-margin-top: 7px;
} /* This is for any images in the header */

#header .button {
	padding: 0px 8px !important;
}

.button {
	color:#E6E2B5 !important;
	text-shadow:rgba(54,37,27,.5) 0 1px 0 !important;
	background:#7C543B !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#A48161), to(#7C543B)) !important; 
	background-image:linear-gradient(left top, left bottom, from(#A48161), to(#7C543B), color-stop(.5,#fff), color-stop(.5,#ccc)) !important;
	min-width:60px !important;
	min-height:39px !important;
	margin-top:9px !important;
	font-size:14px !important;
	-webkit-border-radius:0px; border-radius:0px;
	border: 2px outset buttonface !important;
} /* Styling for CSS-generated buttons, including the back button. These buttons can bue used anywhere in the UI. */

.button:active {
	background:#7C543B !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#7C543B), to(#A48161)) !important; 
	background-image:linear-gradient(left top, left bottom, from(#7C543B), to(#A48161), color-stop(.5,#fff), color-stop(.5,#ccc)) !important;
} /* Styling for CSS-generated buttons, including the back button. These buttons can bue used anywhere in the UI. */

.button.selected {
	background:#7C543B !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#7C543B), to(#A48161)) !important; 
	background-image:linear-gradient(left top, left bottom, from(#7C543B), to(#A48161), color-stop(.5,#fff), color-stop(.5,#ccc)) !important;
} /* behavior of button for touch interaction */

.button.pressed {
	background:#7C543B !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#7C543B), to(#A48161)) !important;
	background-image:linear-gradient(left top, left bottom, from(#7C543B), to(#A48161), color-stop(.5,#fff), color-stop(.5,#ccc)) !important;
} /* behavior of button for touch interaction */

.panel {
    margin-top:0px;
    margin-bottom:0px;
	background:#9EA172;
	-webkit-perspective: none;
	padding: 0px;
} /* This class is applied to the divs that contain the various "views" or pages of the app. */ 

.panel > ul, .panel > .afScrollPanel > ul {
margin: 0px 0px;
}

#report-view {
	width: 1000px;
} 



	
#navbar {
	background-color:#424D00;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#798E19), to(#424D00));
	background-image: linear-gradient(to bottom, #798E19 0%, #424D00 100%);
	-webkit-box-shadow:0px 0px 24px rgba(54,37,27,0.4); box-shadow:0px 0px 24px rgba(54,37,27,0.4);
	height:62px;
	border-top: 0px solid #000;
}

/*navbar icon text style*/
#navbar a {
	-font:12px Helvetica, Arial, sans-serif;
	color:#E6E2B5;
	text-shadow:rgba(54,37,27,.5) 0px -1px 1px;
	top:0;
}

#navbar a:active, #navbar a:focus, #navbar a:active:focus,  #navbar .pressed{
	font-weight:normal;
	color:#A53F0F !important;
	background: rgba(218, 221, 80, .2) !Important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(218, 221, 80, .2)), to(rgba(218, 221, 80, .2)));
	border-radius: 0px !important;
}

.af-badge {
	font-size:12px;
	padding:1px 5px 2px 5px;
}

#afui > #menu {
	background:#493325;
}

#menu  ul > li > a {
	color:#E6E2B5;
	background:#7C543B;
} 

.splashscreen {
	background:#E6E2B5 !important;
}

ul > li {
	background:#A53F0F;
	cursor:pointer;
} /* A plain, non-interactive list item--best suited to a heading. */

ul > li > a {
	color:#E6E2B5;
} /* A touchable, interactive list item. */

ul > li > a[selected], ul > li > a:active {
	color:#E6E2B5 !important;
	background:#D45113;
} /* A selected and active states for interactive list items. */

ul > li.group {
	border-top:1px solid #666;
	border-bottom:1px solid #333;
	color:#E6E2B5;
}

h2 {
	color:#E6E2B5;
	background:#006B71;
} /* Header class used for non-navigable header bars (h1 is reserved for the header) */


fieldset h4 {
	color:#36251B;
} /* Style for subhead for a group of labels/inputs within a fieldset. */

fieldset {
	border:2px solid #E6E2B5;
	margin: 0px 0px 12px 7px;
	padding: 6px 0px 6px 6px;
	width: 95%;
} /* Styles the border line, background image and spacing for fieldsets. */

legend {
	color:#36251B;
} /* This is the name that appears at the top left of the fieldset. */

textarea.jq-ui-forms { 
	font:normal 1.3em Helvetica, Arial, sans-serif;
	border:solid 1px #493325;
	color:#36251B;
	background:#E6E2B5;
	width:95%;
	margin-top: 2px;
	margin-bottom: 8px;
	-margin-left: 4px;
	padding:5px;
	outline: none;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-tap-highlight-color: transparent;
	-webkit-box-shadow:inset 2px 2px 6px rgba(54,37,27,0.3); box-shadow:inset 2px 2px 6px rgba(54,37,27,0.3);
	-webkit-box-shadow:none; box-shadow:none;
	-webkit-appearance: none;
} /* These properties determine the look of textarea inputs. */

input.jq-ui-forms { 
	font:normal 1.3em Helvetica, Arial, sans-serif;
	display:inline-block;
	width:95% !important;
	border:solid 1px #493325;
	color:#36251B;
	background:#E6E2B5;
	margin-top: 2px;
	margin-bottom: 8px;
	-margin-left: 4px;
	padding:5px;
	outline: none;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-webkit-tap-highlight-color: transparent;
	-webkit-box-shadow:inset 2px 2px 6px rgba(54,37,27,0.3); box-shadow:inset 2px 2px 6px rgba(54,37,27,0.3);
	-webkit-box-shadow:none; box-shadow:none;
	-webkit-appearance: none;
	height: 36px
} /* These properties combine to create the look of the input fields. */

select.jq-ui-forms {
        height: 40px;
        font:normal 1.3em Helvetica, Arial, sans-serif;
        border:solid 1px #493325;
        color:#36251B;
        background:#E6E2B5;
        width:95%;
        margin-top: 2px;
		margin-bottom: 8px;
		-margin-left: 4px;
		padding:5px;
		outline: none;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		-webkit-tap-highlight-color: transparent;
		-webkit-box-shadow:inset 2px 2px 6px rgba(54,37,27,0.3); box-shadow:inset 2px 2px 6px rgba(54,37,27,0.3);
		-webkit-box-shadow:none; box-shadow:none;
		-webkit-appearance: none;
		
} /* These properties determine the look of select inputs. */

input.jq-ui-forms:hover, textarea.jq-ui-forms:hover, input.jq-ui-forms:focus, textarea.jq-ui-forms:focus { 
	border:solid 1px #000000; 
} 
/* Changes the border color of the input field while active. */

#afui label {
	color:#36251B;
	-display:inline;
	-margin-top: 7px;
	margin-right: 40px;
	font-size:18px;
	text-align: left;
	width: auto;
	padding: 0;
}

input.jq-ui-forms[type=checkbox] + label,input.jq-ui-forms[type=radio] + label { 
	float:left !important;
	margin-left:5px;
} /* Styling for the labels. */

.afPopup * {
	color:#E6E2B5;
}

table.fieldset td {
	-border:1px solid black;
	line-height:120%;
    text-align: left;
    vertical-align:top;
}/* behavior of table cells in fieldset tables */



/** This can be your default scrollbar class.  You must use !important to override the default inline styles */
/*
 * Since the styles are built in, you have to override values with !important
 */
.scrollBar { 
   position:absolute !important;
   width:5px !important;
   height:20px !important;
   border-radius:2px !important;
   border:1px solid black !important;
   background:black !important;
   opacity:0 !important;
}

#af_actionsheet {
    background: rgba(0, 0, 0, 0);
	border-top:black 1px solid;
}/* Styling for CSS-generated action sheets */

#af_actionsheet a {
    -webkit-transition:all 0.4s ease; 
    transition:all 0.4s ease; 
    padding:0px .25em;
    text-overflow:ellipsis; 
    -webkit-border-radius:.75em; border-radius:.75em;
    border-radius:.75em; border-radius:.75em;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.7); box-shadow:0px 1px 1px rgba(255,255,255,0.7);
    line-height:36px;
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
	text-shadow: text-shadow:rgba(54,37,27,.5) 0 1px 0 !important;
	color:#E6E2B5 !important;
	border: 1px outset buttonface !important;
}

#af_actionsheet a:active {
    background-color:rgba(150,150,150,1);
}

#af_actionsheet a.hw {
     color:#E6E2B5;
     background-image:-webkit-gradient(linear, left top, left bottom, from(#A48161), to(#7C543B));
	 background-image:linear-gradient(left top, left bottom, from(#A48161), to(#7C543B), color-stop(.5,#fff), color-stop(.5,#ccc));
}/* Styling for CSS-generated action sheets buttons */


#af_actionsheet a.hw:active {
	background:#7C543B !important;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#7C543B), to(#A48161)) !important; 
	background-image:linear-gradient(left top, left bottom, from(#7C543B), to(#A48161), color-stop(.5,#fff), color-stop(.5,#ccc)) !important;
} /* Styling for CSS-generated buttons, including the back button. These buttons can bue used anywhere in the UI. */


#af_actionsheet a.cancel:active {
    background-color:rgba(73,73,73,1);
}

#af_actionsheet a.red:active {
     background-color:rgba(255,0,0,1); 
}

#af_action_mask {
  background:rgba(0,0,0,.6) !important;
}

.data-icon.big.button-style:before {
float:none;
}

ul > li.unselected {
	background:gray;
}

ul > li.selected {
	background:green;
}

label.large {
	font-size: 20px;
}

.form-section { 
	background: #E6E2B5;
	padding: 12px 18px 12px 18px;
}

.form-section-title {
	font: normal 1.3em Helvetica, Arial, sans-serif;
	-margin: 12px 8px;
	padding: 12px 18px 12px 8px;
	-border: 1px solid #595d61;
	-outline: 0;
	-width: 95%;
	font-weight: bold;
	-background:#B8B8B8;
}

.associated {
	height: 20px;
	background:#FFFFFF;
	font-weight: bold;	
	border: 2px;
	color: black;
}

.associated-link {
	text-decoration:none;
	color: black;
}

.form-view-label {
	float:left;
	width: 120px;
}

.form-view-value {
	font-weight: bold;
	padding-bottom: 8px;
}

.jq-ui-forms.small {
	width:45% !important;	
}

.compulsory-field {
	color: red;
}

ul.normal > li {
	background:#F0F0F0;
}

ul.normal > li.active {
	background:Red;
}

ul.normal > li.normal {
	background:#F0F0F0;
}

.data-table {
	padding-top:10px;
	width: 100%;
}

input.toggle+label {
	border-radius: 5px;
	height: 22px;
	width: 65px;
	border: 0px solid #ccc;
	background: rgb(233, 18, 26);
	padding: 0px 0 0 0;
	font-weight: bold;
	margin:9px;
}

input.toggle:checked+label {
	background: #E6E2B5;
}

input.toggle+label:before, input.toggle:checked+label:before {
	color: #36251B;
}

input.toggle+label:after {
	color: #36251B;
	top: 3px;
}

input.toggle+label > span {
	width: 29px;
	height: 29px;
	background: #7C543B;
	top: -4px;
	left: -1px;
}
