/* Bg #33B5E5

/* Font header #C6C6C6
 * reg white-space:

 border 303030
 hover : #111

 */

#afui.android {
	font:14px  'Roboto',sans-serif;
 	background:#000;
 	color:#fff;
    border-color:#fff;
}

#afui.android.light {
	background:#FDFDFD;
	color:#000;
}

#afui.android > #header{
 	display:none !important;
 }

 #afui.android > #content {
 	bottom:0px !important;
 	top:49px !important;
 }

 #afui.android > #navbar {
    box-shadow: none;
 	top:0px !important;
 	background:inherit;
 	border-bottom:2px solid #33B5E5;

    padding:0;
 }

#afui.android #navbar a {
	color:inherit;
	height:45px;
}
 #afui.android #navbar a.pressed {
 	border:0px;
 	border-bottom:4px solid #33B5E5;
 	border-radius:0px;
 	background:none;
 }

#afui.android #navbar .icon.pressed:before {
	color:inherit;
}


#afui.android .af-badge {
	border:none;
}
#afui.android #content,#afui.android #content > .panel {
 	background:inherit;
 	color:inherit;
 }

 #afui.android .list {
 	background:inherit;
 	color:inherit;
 	border-color:#303030;
 }

 #afui.android .list .divider {	color:black; }

 #afui.android .panel h2 { color:inherit; }


#afui.android .collapsed:after {border-top: 6px solid;}
#afui.android .collapsed:before {border:2px solid;}
#afui.android .expanded:after {border-bottom: 6px solid;}
#afui.android .expanded:before {border:2px solid;}

#afui.android .collapsed:before,#afui.android .expanded:before {
    border-color: inherit;
}
#afui.android .collapsed:after,
#afui.android .expanded:after{
    border-top-color:inherit;
    border-top-color:inherit;
}

#afui.android .afScrollbar {background:white !important;}
#afui.android.light .afScrollbar {background:black !important;}

#afui.android select, #afui.android textarea, #afui.android input[type="text"],
#afui.android input[type=search], #afui.android input[type="password"],
#afui.android input[type="datetime"], #afui.android input[type="datetime-local"],
#afui.android input[type="date"], #afui.android input[type="month"],
#afui.android input[type="time"], #afui.android input[type="week"],
#afui.android input[type="number"], #afui.android input[type="email"],
#afui.android input[type="url"], #afui.android input[type="tel"],
#afui.android input[type="color"], #afui.android .input-group {
	background:inherit;
	color:inherit;
}

#afui.android input.toggle+label:after { color:inherit; }

#afui.android input.toggle+label { border-radius:0; }

#afui.android input.toggle+label > span {
	border-radius:0;
	top:0;
	width:27px;
	height:23px;
}

#afui.android label { color:inherit; }

#afui.android input[type="radio"]:checked+label:before,#afui.android input[type="checkbox"]:checked+label:before {
	background: #33B5E5;
}

#afui.android > #menu {
	color:inherit;
	background:inherit;
}

#afui.android #menu .list .divider {
	background:inherit;
	color:inherit;
	font-size: 1em;
}

#afui.android #menu .list > li > a {
    background:inherit;
    color:inherit;
    font-size: 1em;
}

#afui.android #menu .list {
	font-weight: normal;
}

#afui.android .button {
	border-radius:0;
	border:none;
	background:#424343;
	border-color:transparent;
	color:inherit;
	text-shadow:none;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
}

#afui.android.light .button {
  background:#D1D1D1;
  border-color:#D1D1D1;
}

#afui.android .button.pressed {
	background:#33B5E5;
	border-color:#33B5E5;
}

#afui.android .button.previous::after {
	width:20px; height:20px;
	background-color:inherit;
  	top:5px; left:-12px;
    border-radius:0;
    box-shadow:none;
    border-color:transparent;
}

#afui.android .button.next::after {
	width:20px; height:20px;
	background-color:inherit;
  	top:5px; right:-12px;
    border-radius:0;
    box-shadow:none;
    border-color:transparent;
}

#afui.android .button-grouped * { border-right:1px solid rgba(255,255,255,.25); }
#afui.android .button-grouped > .button:last-child, #afui.android .button-grouped.vertical * { border-right:none; }

#afui.android .afPopup {
    display: block;
    width: 100%;
    float:left;
    border: solid 1px #33B5E5;
    left:0px !important;
    padding: 10px;
    opacity: 1;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transform:none;
    transform:none;
    --webkit-transition: none;
    transition:none;
    position: absolute;
    z-index: 1000000;
    top: 50%;
    margin: 0px auto;
    background:inherit;
    color:inherit;
    padding:30px;
}

#afui.android #af_actionsheet {
    background:inherit;
    color:inherit;
}

#afui.android	 #af_actionsheet a{
    border-radius:0;
    -webkit-border-radius:0;
    border:1px solid #33B5E5;
    background:inherit;
    color:inherit;
}
