<!DOCTYPE html><!--HTML5 doctype-->
<!--<html lang="eng" manifest="main.appcache">-->

    <head>
        <title>Train Tracker</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"> 
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />

		<link rel="shortcut icon" href="css/images/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="css/images/apple-touch-icon-114x114-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="css/images/apple-touch-icon-72x72-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" href="css/images/apple-touch-icon-57x57-precomposed.png" />
		<link rel="apple-touch-icon" href="css/images/apple-touch-icon.png" />
		<link rel="apple-touch-startup-image" href="css/images/startup.png">

        <link rel='stylesheet' type='text/css' href='libs/appframework-2.0/css/af.ui.css' />
        <link rel="stylesheet" type="text/css" href="css/icons.css">
	    <link rel="stylesheet" type="text/css" href="css/custom.css">

		<script type="text/javascript" charset="utf-8" src="libs/appframework-2.0/appframework.js"></script>
        <script type="text/javascript" charset="utf-8" src="libs/appframework-2.0/ui/appframework.ui.custom.js"></script>
     	<script type="text/javascript" charset="utf-8" src="libs/jQuery/jq.template.js"></script>
     	
     	<!-- Detects Desktop browsers to enable scrolling for divs  -->
     	<script type="text/javascript">
		if(!$.os.ios&&!$.os.android){
			  $.os.desktop=true;
			  //alert("Not IOS or Android");
			  var sheet = document.createElement('style')
			  sheet.innerHTML = "* {-webkit-user-select:text;!important};}";
			  $("head").append(sheet);
			  $.ui.ready(function(){
				$("#menu").css("overflow","auto");
			  });
			}
		</script>
		
		<script type="text/javascript" charset="utf-8" src="libs/app.js"></script>
		<script type="text/javascript" charset="utf-8" src="libs/jQuery/jquery.js"></script>
		
		<script type="text/javascript">
			var jQuery = $.noConflict(true);
		</script>
		<script type="text/javascript" charset="utf-8" src="libs/stations.js"></script>
		<script type="text/javascript" charset="utf-8" src="libs/appUI.js"></script>
		<script type="text/javascript" charset="utf-8" src="libs/appCore.js"></script>
		
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    </head>
<body>

<div id="afui"><!--START JQUI DIV-->
	<div id="splashscreen" class='ui-loader'>
		<span class='ui-icon ui-icon-loading spin'></span><h1 >Starting TrainTrack...</h1>
	</div>
	<div id="header">
	</div>
			
<div id="content"><!--START CONTENT DIV-->

<!--START MAIN PANEL-->

<div id='main' selected="false" class='panel' data-footer='none' data-load='setupApp'>

</div>

<!--END MAIN PANEL-->

<!--START LOGIN PANELS-->

<!--END LOGIN PANELS-->

<!--START LIST PANELS-->

<div id='Stations_list' class='panel' data-load="show_list_filter">
	<header>
		<h1>Stations</h1>
	</header>
	<ul id="select_list_ul">
    </ul>
</div>

<!--END LIST PANELS-->

<!--START VIEW PANELS-->

<div id='Station_view' class='panel' scrolling="yes">
	<header>
		<h1>Station Details</h1>
		<button id="back" class='button' style='left:0px;left:auto;overflow:hidden'><font class="data-icon icon-arrow-left-2 big button-style"></font></button>
		<button id="map" class='button' style='position: absolute; right:8px;'>Map</button>
	</header>
	<div id="Details">
		<fieldset class="form-section">
			<div id="info">
			</div>	
		</fieldset>
    </div>
    <div id="Train">
		<fieldset class="form-section">
			<div>Trains due in the next 20 minutes</div>
			<ul id="Train_Time_select_list_ul" class="train-list">
    		</ul>
		</fieldset>
    </div>
</div>

<div id='Map' title='Map' selected=true class='panel' style='overflow:hidden'>
	<div id="map-canvas" style="width: 100%; height: 100%"></div>
</div>
              
<!--END VIEW PANELS-->

<!-- 
	Start Templates 
-->

<script type="text/html" id="Stations_list_template">
  <li><a data-id="<%=data.StationCode%>" data-type="Station" data-filter="<%=data.StationDesc%>"><%=data.StationFullDescription%></a></li>
</script>

<script type="text/html" id="Station_template">
  <div class="form-view-label">Description:</div><div class="form-view-value"><%=data.StationDesc%>&nbsp;</div>
  <div class="form-view-label">Code:</div><div class="form-view-value"><%=data.StationCode%>&nbsp;</div>
</script>

<script type="text/html" id="Train_Times_list_template">
  <li><a data-id="<%=data.Destination%>" data-type="Train" data-filter="<%=data.Traincode%>"><%=data.Destination%> Due:<%=data.Duein%></a></li>
</script>

<!-- End Templates -->
	 
</div><!--END JQUI DIV-->
</body>
</html>